@font-face {
  font-family: 'NeueMachina-Light';
  src: asset-url('NeueMachina-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'TTFirsNeue-ExtraLight';
  src: asset-url('TTFirsNeue-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'TTFirsNeue-Regular';
  src: asset-url('TTFirsNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TTFirsNeue-Medium';
  src: asset-url('TTFirsNeue-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Concrete-Regular';
  src: asset-url('Concrete-Regular.ttf') format('truetype');
}
